<div class="footer text-center flex justify-center space-x-4 p-4 bg-gray-800  fixed bottom-0 w-full">
    <button class="bg-blue-500 text-white px-4 py-2 rounded-md flex items-center" (click)="openCartModal()">
        🛒 Carrinho ({{ drinkCount }})
      </button>
      <button class="bg-green-500 text-white px-4 py-2 rounded-md flex items-center" (click)="openPaymentModal()">
        💳 Pagamento
      </button>

      <button class="bg-yellow-500 text-white px-4 py-2 rounded-md flex items-center" (click)="openFranchiseModal()">
        🏪 Franquia
      </button>

  <!--ID5. Diretrizes estruturais nfIf-->
  <app-cart-modal *ngIf="isCartModalOpen" (close)="isCartModalOpen = false"></app-cart-modal>
  <app-payment-modal *ngIf="isPaymentModalOpen" (close)="isPaymentModalOpen = false"></app-payment-modal>
  <app-franchise-modal *ngIf="isFranchiseModalOpen" (close)="isFranchiseModalOpen = false"></app-franchise-modal>

</div>