<main class="bg-gradient-to-b from-blue-400 to-orange-300 min-h-screen flex 
flex-col items-center justify-center">

    <header class="">
        <h1 class=" text-2xl font-playwrite mt-10 
        bg-gradient-to-r from-yellow-400 via-orange-400 to-red-400 bg-clip-text text-transparent">Calibar</h1>
    </header>
    <section class="content">
        <h2 class="text-center text-white ">Conheça nossos drinks!</h2>

        <app-home></app-home>

        
        <button (click)="openFranchiseModal()">Open Franchise Modal</button>
        <app-franchise-modal *ngIf="isFranchiseModalOpen" (close)="closeFranchiseModal()"></app-franchise-modal>
      

    </section>

</main>